{% extends '::login.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}

<form action="{{ path('chec_user_login_check') }}" method="post" class="wpl-track-me"  name="loginform" id="loginform">
	
    <h1 class="title-login">Control De Asistencia</h1>
    {% if error %}
    <br><div class="alert alert-danger">{{error.messagekey}}</div>
    {% endif %}
    
    <p class="login-username">
      <label for="username" class="sr-only">{{ 'Username'|trans }}:</label>
      <input type="text" id="user_name" class="form-control input" name="_user_name" value="{{ last_username }}" size="20" placeholder="Username" required autofocus />
    </p>

    <p class="login-password">
	    <label for="password" class="sr-only">Password:</label>
	    <input type="password" id="password" class="form-control input" name="_password" size="20" placeholder="Password" required />
    </p>

    <p class="login-remember">
        <label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label>
    </p>

    <p class="login-submit">
      <input type="hidden" name="_target_path" value="user_index" />
      <button type="submit" class="button-primary">Sign in</button>
    </p>
</form>

{% endblock %}