{% extends '::base.html.twig' %}


{% block body %}
<div class="table-responsive">
    
    {% for flashMessage in app.session.flashbag.get('success') %}
        <p class="alert alert-success">{{ flashMessage }}</p>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <p class="alert alert-danger">{{ flashMessage }}</p>
    {% endfor %}

    <div class="count align-right">
        Total de Registros:{{ pagination.getTotalItemCount }}
    </div>

    <p>
        <a class="btn btn-lg btn-success" role="button" href="{{ path('user_new') }}">
            <i class="ace-icon fa fa-pencil-square-o"></i>
            &nbsp;Nuevo Usuario
            
        </a>
    </p>
    
        

    <table class="table table-bordered">
        <tr>
            <th>Nro.</th>
            <th>{{knp_pagination_sortable(pagination,'Nombre Usuario', 'u.username')}}</th>
            <th>{{knp_pagination_sortable(pagination,'Nombre', 'u.first_name')}}</th>
            <th>{{knp_pagination_sortable(pagination,'Apellido', 'u.last_name')}}</th>
            <th>{{knp_pagination_sortable(pagination,'Email', 'u.email')}}</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        {%set c=1%}
        {% for user in pagination %}
            <tr>
                <td>{{c}}</td>
                <td>{{user.username}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.rol.description}}</td>
                <td> 
                    <a class="btn btn-sm btn-info" href="{{ path('user_show', { 'id': user.id }) }}">
                        <i class="ace-icon fa fa-eye"></i>&nbsp;Ver
                    </a>
                    <a class="btn btn-sm btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}">
                        <i class="ace-icon fa fa-pencil-square-o"></i>&nbsp;Editar
                    </a>      
                    <a class="btn btn-sm btn-danger" href="{{ path('user_edit', { 'id': user.id }) }}">
                        <i class="ace-icon fa fa-arrow-circle-o-down"></i>&nbsp;Eliminar
                    </a>
                </td>
            </tr>
            {%set c=c+1%}
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}