{% extends 'base.html.twig' %}

{% block body %}

<style type="text/css">
    .progress{
        margin-bottom: 0px;
    }
</style>
<div class="table-responsive">


    <p class="text-right">
        <a class="btn btn-lg btn-success" role="button" href="{{ path('asistencia_registrar_asistencia') }}">
            <i class="ace-icon fa fa-calendar fa-lg"></i>
            &nbsp;Marcar
        </a>
    </p>

    <table class="table table-bordered">
        
        <tr>
            <th>Nro.</th>
            <th>Fecha</th>
            <th>Ingreso</th>
            <th>Ini. Almuerzo</th>
            <th>Fin. Almuerzo</th>
            <th>Salida</th>
            <th>Total Horas Trabajadas</th>
            <th>Progreso</th>
        </tr>
        <tbody>
        {% set contador=1 %}
        {% for asist in pagination %}

            {% set ingreso = '' %}
            {% set inialmuerzo = '' %}
            {% set finalmuerzo = '' %}
            {% set salida = '' %}

            {% if asist.ingreso %}
                {% set ingreso = asist.ingreso|date('H:i:s') %}
            {% endif %}

            {% if asist.inialmuerzo %}
                {% set inialmuerzo = asist.inialmuerzo|date('H:i:s') %}
            {% endif %}

            {% if asist.finalmuerzo %}
                {% set finalmuerzo = asist.finalmuerzo|date('H:i:s') %}
            {% endif %}

            {% if asist.salida %}
                {% set salida = asist.salida|date('H:i:s') %}
            {% endif %}

            {% set avance_horas = getAvanceHoras(ingreso, inialmuerzo, finalmuerzo, salida) %}

            {% set avance = getPorcentajeAvance(avance_horas)%}

            {% set actual = '' %}

            {% if asist.createat|date("Y-m-d") == dateact %}
                {% set actual = 'alert alert-info' %}
            {% endif %}

            <tr>
                <td class="text-center  {{actual}}">{{contador}}</td>
                <td class="text-center  {{actual}}">
                {% if asist.createat %}
                    {{asist.createat|date("m/d/Y")}}
                {% else %}
                    ...
                {% endif %}
                </td>
                <td class="text-center {{actual}}">{{ingreso}}</td>
                <td class="text-center {{actual}}">{{inialmuerzo}}</td>
                <td class="text-center {{actual}}">{{finalmuerzo}}</td>
                <td class="text-center {{actual}}">{{salida}}</td>
                
                <td class="text-center {{actual}}">
                {{ avance_horas }}
                </td>
                <td width="20%" class="text-center">
                    <div class="col-xs-12">
                        {% if asist.createat|date("Y-m-d") == dateact %}
                        <div class="progress progress-striped pos-rel" data-percent="{{avance}}%">
                        <div class="progress-bar progress-bar-success" style="width: {{avance}}%"></div>
                        {% else %}
                        <div class="progress progress-striped pos-rel" data-percent="{{avance}}%">
                        <div class="progress-bar pos-rel" style="width: {{avance}}%"></div>
                        {% endif %}  
                        </div>
                    </div>
                    
                </td>
            </tr>
            {% set contador=contador+1 %}
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
</div>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
<script type="text/javascript">
    $(document).ready(function(){
        console.log("holaaa");
    });
</script>
{% endblock %}
